
 <main>
<div class="loginDiv">
    <div class="loginpage">
      <div class="subpops headpop">
        <h2>Experience easily!</h2>
      </div>
      <div class="subpops mainpop">
        <form action="/userlogin" class="formpop" method="post">
          <div class="popinputs">
            <label for="renderemail">Email :</label>
            <input type="email" id="renderemail" name="email" placeholder="enter your Email">
          </div>
    
          <div class="popinputs">
            <label for="renderpass">Password :</label>
          <input type="password" id="renderpass" name="pass" placeholder="enter your Password">
          </div>
    
          <div class="popinputs renderlog">
            <button type="submit">LOGIN</button>
          </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    </main>
