<main class="succesmain">
    <div class="succesmaindiv">
        <div class="successub">
            <img src="success.jpg" alt="">
            <h2>Successfull Apply</h2>
            <p>We will contact As soon as possible..</p>
            <a href="/" class="link_404">Go to Home</a>
        </div>
    </div>
</main>